# Variáveis de Ambiente para o Projeto

# Seed para reprodutibilidade
SEED=42

# Janela de contexto para pares de palavras
JANELA=3

# --- Padrão de Estilo para Gráficos ---
CORES='{"CML8HS-CU": "#1f77b4", "CML8S-CU": "#ff7f0e", "CMS-CU": "#2ca02c", "CMTS-CU": "#d62728", "CL-CU": "#9467bd", "CL-MU": "#8c564b"}'
LABEL_FONTSIZE=16
LEGEND_FONTSIZE=16
TICK_LABEL_FONTSIZE=16
BAR_LABEL_FONTSIZE=16
LINEWIDTH=2.5
FONTWEIGHT="bold"
